@keyframes animation {
    0% {
        opacity: 0;
        scale: 0.5;
    }

    100% {
        opacity: 1;
        scale: 1;
    }
}



.body {
    background-color: #2A2C2F;
    font-family: 'AtypDisplay', sans-serif;
    font-weight: 700;
    font-style: normal;
}

.page {
    max-width: 1400px;
    min-height: 400px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(255, 255, 255);
    border-radius: 3em;
}

.mem__title {
    margin: 0;
    font-size: 2em;
    padding: 0.67em 0;
    text-align: center;
    color: #2A2C2F;
    border-bottom: 1px solid #2A2C2F;
}

@media(max-width: 940px) {
    .mem__title {
        font-size: 1.5em;
    }
}

@media(max-width: 740px) {
    .mem__title {
        font-size: 1.2em;
    }
}

.mem__items {
    padding: 50px;
}

.mem__item {
    display: block;
    margin: 30px 0px;
    border-bottom: 2px solid #000000;
    cursor: pointer;
}

.mem__input {
    display: none;
}

.mem__description {
    font-size: 2em;
    color: #0000ff;
    position: relative;
    margin: 20px 0px;
}

@media(max-width: 940px) {
    .mem__description {
        font-size: 1.5em;
    }
}

@media(max-width: 740px) {
    .mem__description {
        font-size: 1.2em;
    }
}

.mem__image {
    display: none;
    max-width: 20%;
    margin: 0 auto;
}

/* Иконки при наведении анимация*/
.mem__item:hover .mem__description:after {
    transition: transform .35s;
    transform: rotate(90deg);
}

/* Анимация и автоматические открытие новых инпутов */
.mem__item:hover input:not(:checked)~.mem__image {
    display: block;
    animation: animation 1s;
}

/* Показывать иконки при наведении */
.mem__items:hover .mem__description::after {
    content: '\27A4';
    float: right;
}

/* Показать изображение */
input:checked~.mem__image {
    display: block;
}

/* Цвет выбранного инпута */
input:checked~.mem__description {
    color: #000000;
    transition: 1s;
}